.d-editor-preview, .cooked {
    pre[data-code-wrap="svgbob"] {
    overflow-y: auto;
    margin: 1em 0;
    font-size: var(--font-0);
    line-height: 0;

    &:not([data-processed="true"]) {
      // prevents text flashing while loading
      font-size: 0;
    }
  }
}
